@using TravelTripProject.Models.Classes
@model List<Blog>

<div class="padding1">
    <h4>En Beğenilen Yerler</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {
            <div class="bot-img">
                <img src="@x.BlokImage" alt="" />
            </div>
            <div class="bot-desc">
                <p>@x.Explanation.Substring(0, 80)... </p>
            </div>
            <div class="clear"></div>
        }

    </div>
    @Html.Action("PartialFive", "Default");
</div>
